# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj

# R build artifacts
.Rcheck/
*.tar.gz

# Dev/editor stuff
.vscode/
.DS_Store
Thumbs.db
desktop.ini

# Compiled objects (Windows + general)
*.o
*.so
*.dll
*.dylib
*.a
*.lib
*.exp
*.pdb
*.idb
*.exe

# Package src outputs (just in case)
src/*.o
src/*.a
src/*.dll